{% extends 'base.html.twig' %}

{% block body %}
    <h1>This is the home page</h1>
    <h2>Please click the botton below to get started with your budget</h2>
    <a href="{{ path('incomeExpense') }}" ><input type="button" value="START"></a>

{% endblock %}